<!DOCTYPE html>
<
<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Images to Video</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" href= {{ url_for("static",filename="css/bootstrap.min.css") }} rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link type="text/css" href= {{ url_for("static",filename="css/custom.css") }} rel="stylesheet">


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-fire"></span> 
                    RS
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>IMAGES TO VIDEO CONVERTER</h1>
                <p>Upload images here (in png, jpg, jpeg or gif format) </p>
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <p align="center">
                            <input  type="file" name="files[]" multiple="true" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <input type="submit" name="SubmitButton" id="SubmitButton" class="btn btn-primary btn-lg" value="Convert" />&nbsp &nbsp &nbsp&nbsp&nbsp
                        <input type="submit" name="SeeVideo" id="SeeVideo" class="btn btn-primary btn-lg" value="See Video" />
                        
                    </p>
                </form>

                
            </div>
        </div>
    </header>



    

    <!-- Content 2 -->
     <section id="video" class="content content-2">
        <div class="container">
            <div class="row">
                <div>
                    <h2 align="center" class="section-header">Video after conversion:</h2>
                                
              
                    {% if filenames %}
                                    {% for filename in filenames %}
                                        <div align="center" >

                                                <video width="600" height="400" controls>
                                                  <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4">
                                                  <p>Your browser doesn't support HTML5 video. Here is
                                                     a <a href="{{ url_for('display_video', filename=filename) }}">link to the video</a> instead.</p>
                                                </video>
                                        </div>
                                    {% endfor %}
                    {% endif %}
                </div>            
                
            </div>
        </div>
    </section>    

    
    <!-- Footer -->
    <footer class="page-footer">
    
        <!-- Contact Us -->
        <div id="contact" class="contact">
            <div class="container">
                <h2 class="section-heading">Contact Us</h2>
         
                <p><span class="glyphicon glyphicon-envelope"></span><br> rahulsinghal1904@gmail.com</p>
            </div>
        </div>
            
      
        
    </footer>

    <!-- jQuery -->
    <script src= {{ url_for("static",filename="js/jquery-1.11.3.min.js") }}></script>

    <!-- Bootstrap Core JavaScript -->
    <script src= {{ url_for("static",filename="js/bootstrap.min.js") }}></script>

    <!-- Plugin JavaScript -->
    <script src= {{ url_for("static",filename="js/jquery.easing.min.js") }}></script>
    
    <!-- Custom Javascript -->
    <script src= {{ url_for("static",filename="js/custom.js") }}></script>

</body>

</html>
